<% layout('/layouts/boilerplate.ejs') %>
<%- include ('../partials/navbar') %>
 <div class="row">
    <div class="col-lg-6 mt-3">
        <div class="card shadow mx-auto" style="width: 18rem;">
            <img src="<%=prod.img%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%=prod.name%></h5>
                <p class="card-text"><%=prod.desc%></p>
                <p class="card-text">₹<%=prod.price%></p>
                <a href="/products" class="btn btn-info">Home</a>
                <a href="/products/<%=prod.id%>/edit" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-secondary">Add to Cart</a>
                <a href="#" class="btn btn-success">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5">Leave a Review</h1>
    </div>2
</div>                      